{% extends "base.html" %}

{% block content %}
	<div id='search-form'>
		<span>
		<div class='fleft'>
			<img src='{{STATIC_URL}}images/rsz_flickr_logo1.jpg'>
		</div>
		<form method='GET' action='/search'>
			<input 
				id='search_text' type="text" 
				name='tags' value={% if tags %} '{{tags}}' {% else %} '' {% endif%}/>
			<input 
				id='search_button' class='center' 
				type="submit" name="search" 
				value="Search"/>
			<input type=hidden name='page' 
				id='page' value={{ page }}>
			<input type=hidden name='limit' 
				id='limit' value={{ limit }}>
		
		</span>
		</form>
		{% if not success %}
			<div id="error_box">
				<p>{{error}}<b>{{tags}}</b></p>
			</div>
		{% endif %}
		
		{% if photos %}
		<div>
		<div id='pagination' class='fleft'>
			<input 
				id='prev_button' class='center' 
				type="submit" name="prev" 
				value="Prev"/>
			<span id='page_num'>{{page}}</span>
			<input 
				id='next_button' class='center' 
				type="submit" name="next" 
				value="Next"/>
		</div>
		<div id='limit' class='fright'>
			<select class="pagelimit">
    			<option value="25" selected="selected">25</option>
    			<option value="50">50</option>
    			<option value="75">75</option>
  			</select>
		</div>
		</div>
		
		{% endif %}
		
		
		
		
	</div>
	<!-- <div id='container'>
		{% for place, images  in photos.items %}
			{% for image in  images%}
				  <pre>{{image}}</pre>
				<div class='masonryImage'>
					<img src={{image.image_url}} alt=''>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
	 -->
	 
	 <div id='container'>
	 	<ul id="myContent">
	 	  	{% for place, images  in photos.items %}
				{% for image in  images%}
					<li class='masonryImage'>
						<a href='{{image.web_url}}' title="{{image.title}}" target='_blank'>
							<img src={{image.image_url}} alt=''>
						</a>
					</li>
				{% endfor %}
			{% endfor %}
	 	</ul>
	 </div>
	 
{% endblock %}
